
llama-index
requests
ollama
pandas
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-experimental


llama-index-core~=0.11.12
protobuf~=5.28.3

google.generativeai
llama-index-embeddings-gemini
llama-index-llms-gemini